<%= form_for(@channel, {:id => 'channel_form' }) do |f| %>
  <%= render :partial => 'shared/form_errors', :locals => {:target => @channel} %>
  Add new channel
  <p>
    Url
  </p>
  <%= f.text_field :url %>

  <%= f.submit %>

<% end %>
