- if @articles
  = paginate @articles
  %ul.style3
    - @articles.each do |article|
      = link_to article.title, article.link
      %br
      != article.description
      %br
  = paginate @articles
