$('#list').html("#{escape_javascript(render :partial => 'search_result', :locals => {:articles => @articles})}");
$('.pagination').html("#{escape_javascript(paginate(@articles, :remote => true).to_s)}");

